@import './_variables';

breakpointInfix(name, breakpoints = $gridBreakpoints) {
  if breakpointMin(name, breakpoints) == null {
    ''
  } else {
    {'-' + name}
  }
}

breakpointMin(name, breakpoints = $gridBreakpoints) {
  min = breakpoints[name]
  min != 0 ? min : null
}

breakpointMax(name, breakpoints = $gridBreakpoints) {
  next = breakpointNext(name, breakpoints);
  if next {
    breakpointMin(next, breakpoints) - 1px;
  } else {
    null;
  }
}

breakpointNext(name, breakpoints = $gridBreakpoints, breakpointNames = keys(breakpoints)) {
  n = index(breakpointNames, name);
  if n < length(gridBreakpoints) {
    nth(gridBreakpoints, n + 1)
   } else {
     null
   }
}

mediaBreakpointUp(name, breakpoints = $gridBreakpoints) {
  min = breakpointMin(name, breakpoints);
  if min {
    @media (min-width: min) {
      {block};
    }
  } else {
    {block};
  }
}

mediaBreakpointDown(name, breakpoints = $gridBreakpoints) {
  max = breakpointMax(name, breakpoints);
  if max {
    @media (max-width: max) {
      {block}
    }
  } else {
    {block}
  }
}

mediaBreakpointBetween(lower, upper, breakpoints = $gridBreakpoints) {
  min = breakpointMin(lower, breakpoints);
  max = breakpointMax(upper, breakpoints);

  if min != null && max != null {
    @media (min-width: min) and (max-width: max) {
      {block}
    }
  } else if max == null {
    +mediaBreakpointUp(lower, breakpoints) {
      {block}
    }
  } else if min == null {
    +mediaBreakpointDown(upper, breakpoints) {
      {block}
    }
  }
}

mediaBreakpointOnly(name, breakpoints = $gridBreakpoints) {
  min = breakpointMin(name, breakpoints);
  max = breakpointMax(name, breakpoints);

  if min != null && max != null {
    @media (min-width: min) and (max-width: max) {
      {block}
    }
  } else if max == null {
    +mediaBreakpointUp(name, breakpoints) {
      {block}
    }
  } else if min == null {
    +mediaBreakpointDown(name, breakpoints) {
      {block}
    }
  }
}
