@import './_variables';

headline() {
  color: $midnightBlueDark;
  font-size: px2rem(24);
}

display() {
  color: $midnightBlueDark;
  font-size: px2rem(36);
}

title() {
  color: $midnightBlueDark;
  font-size: px2rem(20);
}

subheader() {
  color: $midnightBlueDark;
  font-size: px2rem(16);
}

caption() {
  color: $midnightBlueDark;
  font-size: px2rem(12);
}
