$bahamaBlue10           = #E5F2FA // rgb(229,242,250)
$bahamaBlue20           = #CCE6F6 // rgb(204,230,246)
$bahamaBlue30           = #B2D9F1 // rgb(178,217,241)
$bahamaBlue40           = #99CDEC // rgb(153,205,236)
$bahamaBlue50           = #7FC0E7 // rgb(127,192,231)
$bahamaBlue60           = #66B4E3 // rgb(102,180,227)
$bahamaBlue70           = #4CA7DE // rgb(76,167,222)
$bahamaBlue80           = #339BD9 // rgb(51,155,217)
$bahamaBlue90           = #198ED5 // rgb(25,142,213)
$bahamaBlue             = #0082D0 // rgb(0,130,208)
$bahamaBlueDark1        = #006099 // rgb(0,96,153)
$bahamaBlueDark2        = #004066 // rgb(0,64,102)

$ageYourGoldDark2       = #AD821E // rgb(173,130,30)
$ageYourGoldDark1       = #F3AA00 // rgb(243,170,0)
$ageYourGold            = #FDBE2A // rgb(253,190,42)
$ageYourGold90          = #FDC43F // rgb(253,196,63)
$ageYourGold80          = #FDCB55 // rgb(253,203,85)
$ageYourGold70          = #FED169 // rgb(254,209,105)
$ageYourGold60          = #FED87F // rgb(254,216,127)
$ageYourGold50          = #FEDE94 // rgb(254,222,148)
$ageYourGold40          = #FEE5AA // rgb(254,229,170)
$ageYourGold30          = #FEEBBF // rgb(254,235,191)
$ageYourGold20          = #FFF2D4 // rgb(255,242,212)
$ageYourGold10          = #FFF8E9 // rgb(255,248,233)

$punchesGreenDark2      = #89942A // rgb(137,148,42)
$punchesGreenDark1      = #ABB833 // rgb(171,184,51)
$punchesGreen           = #CEDD3E // rgb(206,221,62)
$punchesGreen90         = #D3E051 // rgb(211,224,81)
$punchesGreen80         = #D8E465 // rgb(216,228,101)
$punchesGreen70         = #DDE778 // rgb(221,231,120)
$punchesGreen60         = #E2EB8B // rgb(226,235,139)
$punchesGreen50         = #E6EE9E // rgb(230,238,158)
$punchesGreen40         = #EBF1B2 // rgb(235,241,178)
$punchesGreen30         = #F0F5C5 // rgb(240,245,197)
$punchesGreen20         = #F5F8D8 // rgb(245,248,216)
$punchesGreen10         = #FAFCEB // rgb(250,252,235)

$everyDollarOrangeDark2 = #B64025 // rgb(182,64,37)
$everyDollarOrangeDark1 = #D85927 // rgb(216,89,39)
$everyDollarOrange      = #F3783C // rgb(243,120,60)
$everyDollarOrange90    = #F5854D // rgb(245,133,77)
$everyDollarOrange80    = #F7915E // rgb(247,145,94)
$everyDollarOrange70    = #F89D6E // rgb(248,157,110)
$everyDollarOrange60    = #F9AA7F // rgb(249,170,127)
$everyDollarOrange50    = #FBB791 // rgb(251,183,145)
$everyDollarOrange40    = #FCC5A4 // rgb(252,197,164)
$everyDollarOrange30    = #FDD2B8 // rgb(253,210,184)
$everyDollarOrange20    = #FEE0CD // rgb(254,224,205)
$everyDollarOrange10    = #FFEEE3 // rgb(255,238,227)

$skyBlueDark2           = #4B6F85 // rgb(75,111,133)
$skyBlueDark1           = #71A3C3 // rgb(113,163,195)
$skyBlue                = #86C3E9 // rgb(134,195,233)
$skyBlue90              = #92C8EA // rgb(146,200,234)
$skyBlue80              = #9ECDEC // rgb(158,205,236)
$skyBlue70              = #AAD2EE // rgb(170,210,238)
$skyBlue60              = #B6D8F0 // rgb(182,216,240)
$skyBlue50              = #C1DDF2 // rgb(193,221,242)
$skyBlue40              = #CDE3F5 // rgb(205,227,245)
$skyBlue30              = #D8E9F7 // rgb(216,233,247)
$skyBlue20              = #E4EFF9 // rgb(228,239,249)
$skyBlue10              = #F0F6FC // rgb(240,246,252)

$midnightBlue10         = #E2E2E2 // rgb(226,226,226)
$midnightBlue20         = #CFD5D8 // rgb(207,213,216)
$midnightBlue80         = #314968 // rgb(49,73,104)
$midnightBlue90         = #2C425D // rgb(44,66,93)
$midnightBlue           = #25384F // rgb(37,56,79)
$midnightBlueDark       = #152232 // rgb(21,34,50)

$white                  = #FFFFFF // rgb(255,255,255)
$alabasterGray          = #FCFCFC // rgb(252,252,252)
$mercury                = #E2E2E2 // rgb(226,226,226)
$silverChalice          = #ABABAB // rgb(171,171,171)
$gray                   = #969696 // rgb(150,150,150)
$doveGray               = #585858 // rgb(88,88,88)

$positiveGreen          = #00A52E // rgb(0,165,46)
$positiveGreen10        = #E8F1E5 // rgb(232,241,229)
$negativeRed            = #D43929 // rgb(212,57,41)
$negativeRed10          = #FBEBE9 // rgb(251,235,233)

$black                  = #152232 // rgb(21,34,50)

$fontFamily = 'Lato', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$fontSize = 14px;

$borderRadius = 4px;

$spacing = px2rem(4), px2rem(8), px2rem(12), px2rem(16), px2rem(20), px2rem(32), px2rem(40)

$gridColumns = 12;

$gridGutterWidth = 30px;

$gridBreakpoints = {
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
};

$containerMaxWidths = {
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
};

spacing(index) {
  $spacing[index];
}

px2rem(px) {
  (px / $fontSize)rem;
}
